/* fonts */

.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #404040;
    overflow: hidden
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: "Do Hyeon";
    font-size: 25px;

  }
  

  .topnav b{
    font-family: "Do Hyeon";
    font-size: 40px;
    color: #f2f2f2;
    text-align: left;
    position: absolute;
    padding: 2%;
  }


  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* map */
  #map { 
    position: absolute; 
    top: 100px; 
    bottom: 20px;
    width: 100%; 
    
  }

.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears above other elements */
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.popup-content h2 {
  font-family: "Do Hyeon", sans-serif;
}

.popup-content p {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.popup-content n {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color:cornflowerblue;
  font-size:small;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}